@import "@economist/component-palette";

.header__additional-element {
  color: var(--header__additional-element-color, var(--color-thimphu));
  margin: var(--grid-spacing-sheep) 0;
  font-family: 'Halifax Regular';
}

.header__follow-us-title {
  margin-bottom: var(--header__follow-us-title-margin-bottom, var(--grid-spacing-hedgehog));
}

.header__additional-element .Icon {
  fill: var(--header__additional-element-icon, var(--color-chicago));
  border-radius: 50%;
  background: var(--header__additional-element-icon-background, var(--color-thimphu));
}

.header__additional-element {
  margin: 0;
}

.header--blog21003976 {
  background-color: #004388;
  background-size:
    calc(
      var(--header-image-aspect-ratio, 4.51) * calc(var(--header-height, 430px) + var(--header-padding-top, 150px))
    )
    calc(var(--header-height, 430px) + var(--header-padding-top, 150px));
  background-position: 90% 0px;
  /* For browsers that support calc, this makes sure we show both characters */
  background-position: calc(80% - 34vw) 0px;
}
@media (--viewport-big) {
  .header__follow-us-title,
  .header__follow-us-icons {
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
  }
  .header__follow-us-icons {
    padding: 0 var(--grid-gutter-s);
  }
  .header--blog21003976 {
    background-size:
      calc(var(--header-image-aspect-ratio, 4.51) * var(--header-viewport-big-height, 300px))
      var(--header-viewport-big-height, 300px)
    ;
    background-position: 100% 0px;
  }
}
